// 引用twui库的scss变量及mixin
// ------------------------------------------------------------
@import "../../lib/twui/stylesheets/config";
@import "../../lib/twui/stylesheets/variables";
@import "../../lib/twui/stylesheets/common";

/* ------------------------------ 通用 ------------------------------ */
.twui-markdown {
    min-height: 1000px;
    padding: $padding-large $padding-medium;
    color: $minor-text-color;

    > h2,
    > h3 {
        position: relative;
        padding-bottom: $padding-base;
        margin-bottom: $spacing-base;
        border-bottom: 1px dashed $main-border-color;

        &:before {
            content: " ";
            position: absolute;
            left: -$spacing-medium * 0.8;
            top: 0.6em;
            height: 5px;
            width: 5px;
            background: $main-color;
        }
    }

    > h2 {
        font-size: $font-size-medium;
    }

    > h3 {
        margin-top: $spacing-medium;
        font-size: $font-size-base;
    }

    p {
        line-height: 1.5;
        margin-bottom: $spacing-base;
    }

    > ul,
    > ol {
        line-height: 1.75;

        > li {
            margin-left: 20px;
        }
    }

    > ul {
        > li {
            list-style: circle;
        }
    }

    > ol {
        > li {
            list-style: decimal;
        }
    }

    blockquote {
        display: none;
    }

    table {
        width: 100%;
        table-layout: fixed;

        > thead > tr > th,
        > tbody > tr > td {
            padding: $padding-base;
            text-align: left;
            border: 1px solid $minor-border-color;
        }

        > thead > tr > th {
            background: #f5f5f5;
        }
    }

    .xdownload,
    .xcopy {
        margin-left:$padding-base;
        font-size:16px;
        color:$main-color;
    }
}

.twui-demobox {
    .twui-header {
        min-width: 100%;
    }

    .twui-header-inner {
        width: 100%;
    }
}