// 引用twui库的scss变量及mixin
// ------------------------------------------------------------
@import "../../lib/twui/stylesheets/config";
@import "../../lib/twui/stylesheets/variables";
@import "../../lib/twui/stylesheets/common";

/* ------------------------------ 通用 ------------------------------ */
.twui-markdown {
    min-height: 1000px;
    padding: $padding-large $padding-medium;
    color: $minor-text-color;
    line-height: 1.75;

    > h2,
    > h3 {
        position: relative;
        padding-bottom: $padding-base;
        margin-bottom: $spacing-base;
        border-bottom: 1px dashed $main-border-color;

        &:before {
            content: " ";
            position: absolute;
            left: -$spacing-medium * 0.8;
            top: 0.6em;
            height: 5px;
            width: 5px;
            background: $main-color;
        }
    }

    > h2 {
        font-size: $font-size-medium;
    }

    > h3 {
        margin-top: $spacing-large;
        font-size: $font-size-base;
    }

    p {
        line-height: 1.8;
        margin: $spacing-base 0;
    }

    > ul,
    > ol {
        line-height: 1.75;

        > li {
            margin-left: 20px;
        }
    }

    > ul {
        > li {
            list-style: circle;
        }
    }

    > ol {
        > li {
            list-style: decimal;
        }
    }

    > blockquote {
        display: none;
    }

    > table {
        width: 100%;

        > thead > tr > th,
        > tbody > tr > td {
            min-width:120px;
            padding: $padding-base;
            text-align: left;
            border: 1px solid $minor-border-color;
        }

        > tbody > tr > td {
            font-size: 13px;
            line-height: 1.75;
        }

        > thead > tr > th {
            background: #f5f5f5;
        }
    }

    > pre {
        margin-top: -1px;
    }

    code {
        padding: 3px 5px;
        margin: 0 3px;
        background: #f5f5f5;
        border: 1px solid #ddd;
        color: #666;
    }

    strong {
        font-weight:bold;
    }

    .xpsd,
    .xcopy,
    .xdownload {
        position: absolute;
        right: 5px;
        margin-left: $padding-base;
        font-size: 16px;
        font-weight: normal;
        color: $weaken-text-color;
        vertical-align: middle;

        &:hover {
            color: $main-color;
        }
    }

    .xcopy {
        top: 6px;
    }
}

.twui-markdown-codeheader {
    position:relative;
}

.twui-demobox {
    overflow:auto;

    .twui-header-inner {
        width: 100%;
    }
}

.twui-shortcut {
    position:absolute;
    left:0;
    top:-1px;
    padding: 3px 10px;
    font-size:$font-size-small;
    color:$weaken-text-color;
    background: #fff;
    border: 1px solid #ccc;

    > .twui-ifont {
        font-size:14px;
        margin-right:$spacing-base;
        color:$main-color;
        vertical-align:middle;
    }
}

// 色块
.twui-color {
    display:inline-block;
    width:50px;
    height:50px;
    margin:10px auto 0;
    vertical-align:middle;
}

.twui-color.xmain {
    background:$main-color;
}

.twui-color.xminor {
    background:$minor-color;
}

.twui-color.xbg {
    background:$body-bg;
}

.twui-color.xerror {
    background:$error-color;
}



