// 字体图标
// ------------------------------------------------------------
@font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/iconfont.woff') format('woff'),
  url('fonts/iconfont.ttf') format('truetype'),
  url('fonts/iconfont.svg#iconfont') format('svg');
}

.twui-ifont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.twui-ifont.xsearch:before {
    content: "\e60b";
}

.twui-ifont.xnav:before {
    content: "\e688";
}

.twui-ifont.xunit:before {
    content: "\e635";
}

.twui-ifont.xlayout:before {
    content: "\e600";
}

.twui-ifont.xform:before {
    content: "\e60c";
}


.twui-ifont.xjquery:before {
    content: "\e605";
}

.twui-ifont.xreact:before {
    content: "\e770";
}

.twui-ifont.xvue:before {
    content: "\e617";
}

.twui-ifont.xtip:before {
    content: "\e7df";
}

.twui-ifont.xpage:before {
    content: "\e602";
}

.twui-ifont.xdata:before {
    content: "\e62a";
}

.twui-ifont.xwin:before {
    content: "\e800";
}

.twui-ifont.xarrow-down:before {
    content: "\e606";
}


