// 引用twui库的scss变量及mixin
// ------------------------------------------------------------
@import "../../lib/twui/stylesheets/config";
@import "../../lib/twui/stylesheets/variables";
@import "../../lib/twui/stylesheets/common";



/* ------------------------------ twui重置或自定义 ------------------------------ */
.twui-header {
    &-logo {
        height: 36px;
    }

    &-search {
        position: relative;
        display: inline-block;
        margin-right: 30px;

        > input {
            width: 200px;
            height: 28px;
            line-height: 24px;
            padding: 0 15px;
            font-size:12px;
            background: transparent;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 14px;

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder {
                color: #eee;
            }

            &:-moz-placeholder {
                color: #eee;
            }

            &::-moz-placeholder {
                color: #eee;
            }

            &:-ms-input-placeholder {
                color: #eee;
            }
        }

        > .twui-icof {
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 16px;
            color:#fff;
        }
    }
}

/* ------------------------------ 重置highlight ------------------------------ */
code, kbd, pre, samp {
  font-family:Consolas, "Microsoft YaHei",monospace, monospace;
  font-size: 1em;
}

.hljs {
    padding:1em;
    background:#f5f5f5;
    border:1px solid $minor-border-color;
    color:$minor-text-color;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: normal;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color:$main-color-hover;
}