/* ------------------------------ 浏览器重置 ------------------------------ */
html { height: 100%; }
body { position: relative; min-height: 100%; min-width: 1000px; font-size: 18px; color: #333; font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; background:#fff; }
body:after { display: block; content: " "; height: 80px; width: 100%; }
a { color:inherit; cursor:pointer; }
input[type="text"]:focus { outline:none; }
ul, li,dl,dt,dd,h1,h2,h3,h4,h5,h6,label { margin:0; padding:0; }
li,dt,dd { list-style:none; }
label { font-weight:normal; vertical-align:middle; }

/* 文本框 placeholder颜色设置 */
input::-webkit-input-placeholder { color: #999; }
input:-moz-placeholder { color: #999; }
input::-moz-placeholder { color: #999; }
input:-ms-input-placeholder { color: #999; }


/* ------------------------------ CSS库及插件重置 ------------------------------ */