/* ------------------------------ 颜色体系 ------------------------------ */
// 主色
$main-color:#26a8ff !default;
$main-color-hover:darken(saturate($main-color,10%),10%) !default;

// 辅色
$minor-color:#6ec940 !default;
$minor-color-hover:darken(saturate($minor-color,10%),10%) !default;

// 错误色
$error-color:#f04134 !default;

// 背景色
$body-bg:#f5f5f5;

// 导航色
$nav-bg:$main-color !default;
$nav-link-hover:$main-color-hover !default;
$nav-color:#fff !default;

// 文本色
$main-text-color:#333 !default; // 主
$minor-text-color:#666 !default; // 铺
$weaken-text-color:#999 !default; // 弱化
$highlight-text-color:#ffbf00 !default; // 高亮
$error-text-color:$error-color !default; // 错误

// 边框色
$main-border-color:#ccc !default; // 主
$minor-border-color:#ddd !default; // 铺
$weaken-border-color:#eee !default; // 弱化
$error-border-color:$error-color !default; // 错误

// 链接色
$link-color:$main-color !default;
$link-color-hover:$main-color-hover !default;

// 按钮色
$btn-color:#fff !default;

$main-btn-bg:$main-color !default; // 主按钮
$main-btn-bg-hover:$main-color-hover !default;
$main-btn-color:$btn-color !default;
$main-btn-border-color:$main-color !default;
$main-btn-border-color-hover:$main-color-hover !default;

$minor-btn-bg:$main-color !default; // 铺按钮
$minor-btn-bg-hover:$minor-color-hover !default;
$minor-btn-color:$btn-color !default;
$minor-btn-border-color:$minor-color !default;
$minor-btn-border-color-hover:$minor-color-hover !default;

$weaken-btn-color:$main-text-color !default; // 弱化按钮
$weaken-btn-color-hover:$main-color !default;
$weaken-btn-border-color:$main-border-color !default;
$weaken-btn-border-color-hover:$minor-color-hover !default;

// 表单色
$ctr-color:$main-text-color !default;
$ctr-border:$main-border-color !default;

















