// 颜色体系:全局颜色
$body-bg:#fff;
$color-base:#000;
$color-level1:lighten($color-base,20%); // #333
$color-level2:lighten($color-base,40%); // #666
$color-level3:lighten($color-base,60%); // #999
$color-level4:lighten($color-base,80%); // #ccc


body { color:#f00; }